.git
.gitignore
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

.venv
venv
env

.env
.env.*
!.env.example

logs
uploads

tests
*.ipynb

*.pt
utils/table_model.pt
utils/yolov8m-doclaynet.pt